In [ ]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
        
    def intro(self):
        print(str(self.age) + "살 " + self.name + "입니다.")

In [ ]:
class Student(Human):
    def __init__(self, age, name, stunum):
        super().__init__(age, name) #부모 Class(=Human)에서 정의한 age, name 사용
        self.stunum = stunum
        
    def intro(self):
        super().intro() #부모 Class(=Human)의 intro 함수 기능을 포함
        print("학번 : " + str(self.stunum))
        
    def study(self):
        print("하늘천 땅지 검을현 누를황")

In [ ]:
bom = Human(29, '보미쓰')

In [ ]:
bom.intro()

In [ ]:
bomi = Student(29, '보미', 930827)

In [ ]:
bomi.intro()

In [ ]:
class Student2(Human):
    def __init__(self, age, name, stunum):
        super().__init__(age, name)
        self.stunum = stunum
        
    def intro(self):
        #super().intro() #부모 Class(=Human)의 intro 함수 기능을 포함
        print("학번 : " + str(self.stunum))
        
    def study(self):
        print("하늘천 땅지 검을현 누를황")

In [ ]:
test = Student2(29, 'bomi', 930827)
test.intro()

In [ ]:
test.study()

In [ ]:
kim = Human(30,'은지')

In [ ]:
kim.intro()

In [ ]:
kim.name = "춘수"
kim.intro()

In [ ]:
kim.age = 60
kim.intro()

In [ ]:
class Date:
    def __init__(self, month):
        self.month = month
    def getmonth(self):
        return self.month
    def setmonth(self, month):
        if 1 <= month <= 12:
            self.month = month

In [ ]:
today = Date(8)
today.setmonth(12)
print(today.setmonth(12))

In [ ]:
@classmethod  #전역함수라고 이해하자

In [1]:
class Human:
    def __init__(self, age, name):
        self.age = age
        self.name = name
        
    def __eq__(self, other):
        return self.age == other.age and self.name == other.name #age와 name 모두 동일

In [3]:
song = Human(29, 'bomi')
eun = Human(32, 'ej')
joo = Human(32, 'ej')

print(song == eun)
print(eun == joo)

False
True