In [7]:
import sqlite3

In [8]:
con = sqlite3.connect('addr.db') #SQLite : connect("연결할 DB 이름") / Oracle, MySQL : connect("호스트명(IP), port" 등)
cursor = con.cursor() #connect 객체의 cursor 생성

cursor.execute("DROP TABLE IF EXISTS tblAddr")
cursor.execute("""CREATE TABLE tblAddr (name CHAR(16) PRIMARY KEY, phone CHAR(16), address TEXT)""")

cursor.execute("INSERT INTO tblAddr VALUES ('김상형', '123-4567', '오산')")
cursor.execute("INSERT INTO tblAddr VALUES ('한경은', '555-1004', '수원')")
cursor.execute("INSERT INTO tblAddr VALUES ('한주완', '444-1092', '대전')")

con.commit()

cursor.close()
con.close()

In [ ]:
## fetchall() : 모든 레코드 한꺼번에 read

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("SELECT * FROM tblAddr")
table = cursor.fetchall()
for record in table:
    print("이름 : %s, 전화 : %s, 주소 : %s" % record)
    
cursor.close()
con.close()

In [ ]:
## fetchone() : 한 레코드씩 차례로 read

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("SELECT * FROM tblAddr")
while True:
    record = cursor.fetchone()
    if record == None:
        break
    print("이름 : %s, 전화 : %s, 주소 : %s" % record)
    
cursor.close()
con.close()

In [ ]:
## fetchone 활용(2) & WHERE

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("SELECT addr FROM tblAddr WHERE name = '김상형'")
record = cursor.fetchone()
print("김상형은 %s에 살고 있습니다." % record)

cursor.close()
con.close()

In [ ]:
## Order by [테이블 이름]

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("SELECT * FROM tblAddr ORDER BY addr")
table = cursor.fetchall()
for record in table:
    print("이름 : %s, 전화 : %s, 주소 : %s" % record)

cursor.close()
con.close()

In [ ]:
## Update

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("UPDATE tblAddr SET addr = '제주도' WHERE name = '김상형'")
con.commit()

cursor.close()
con.close()

In [ ]:
## Delete

con = sqlite3.connect('addr.db')
cursor = con.cursor()

cursor.execute("DELETE FROM tblAddr WHERE name = '김상형'")
con.commit()

cursor.close()
con.close()